# Stealthmax 2 PCB Alias Definitions
[board_pins Stealthmax2]
mcu: SM
aliases:
    # Fans
    FILTER_FAN=PB14,
    FILTER_TACH=PB15,

    # Thermistors / Sensors
    SM_THERM=PA2,
    UV_THERM=PA3,

    # Outputs
    UV_LED=PA1,
    PELTIER=PD3

# I2C Bus Aliases for SENSORS1 (PB8/PB9) and SENSORS2 (PB10/PB11)
i2c_bus:
    i2c1=PB8,PB9
    i2c2=PB10,PB11