# This file contains the board pin aliases for the Stealthmax 2 PCB.
# Ensure your [mcu SM] section is defined in your main config.

[board_pins Stealthmax2]
mcu: SM
aliases:
    # I2C Pins (SENSORS1 and SENSORS2)
    S1_SCL=PB8,
    S1_SDA=PB9,
    S2_SCL=PB10,
    S2_SDA=PB11,

    # Fans
    FILTER_FAN=PB14,
    FILTER_TACH=PB15,

    # Sensors / Thermistors
    SM_THERM=PA2,
    UV_THERM=PA3,

    # Outputs
    UV_LED=PA1,
    PELTIER=PD3